server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
spring:
  datasource:
    url: jdbc:mysql://host.docker.internal:3306/msi?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC&createDatabaseIfNotExist=true
    username: root
    password: Root@YMhmO=9iA5
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  data:
    redis:
      host: host.docker.internal
      port: 6379
      database: 0
      password: Root@N8Hz@u#1-e
  sql:
    init:
      mode: never
logging:
  level:
    root: INFO
    org.springframework: INFO
    com.msi.admin: DEBUG
